* {
    text-align: center;
}

fieldset {
    width: 450px;
    margin: 10%;
    margin-left: 30%;
    border: 1px solid #1b77d3;
}

.apart {
    margin-top: 20px;

}

.depart {
    width: 300px;
    border: 1px solid #1b77d3;
}

.name {
    background-color: #1b77d3;
    color: azure;
    padding: 10px 20px;
    margin-right: 25px;
    width: 100px;
    text-align: center;
    border: 1px solid #1b77d3;
}

.text {
    border: 1px solid #1b77d3;
    padding: 10px;
    width: 280px;
}

.gender {
    border: 1px solid #1b77d3;
}



.button {
    width: 100px;
    margin-top: 30px;
    height: 30px;
    background-color: #008000;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    color: white;
}

.style {
    display: flex;
}
